<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content = "with=device-width, initial-scale=1.0">
        <title>E-Well: Home and Basic Information</title>
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="newBase.html"><img src="images/eWellLogo.png"></a>
            <div class="nav-links">
               <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">TEAM</a></li>
                <li><a href="">LOGIN</a></li>
                <li><a href="">REGISTRATION</a></li>
               </ul> 
            </div>
        </nav>
    </section>
</body>
</html>