{% extends "base.html" %}
{% block head %} 
<!-- <style>

</style> -->

<style>

.image {
  width: 50%;	
  height: 50%;
    }

</style>

<h1>Results</h1> 

{% endblock %}

{% block body %}
<br>
<ul>
  <li>{{final_res}}</li>
  <li>Your situation has been going for a while, you need to reach out to others for help</li>
  <li> talking to trusted friends and family can offer different perspectives and resources to help your situation. Speaking with others is a sign of strength and they would be more than happy to help you</li>
  <li>Try reaching out teachers to explain your situation. Once they understand, they are likely willing to help you so you are successful in their classroom</li>
</ul>
<br>
<!-- <img src="hw.jpg"> -->
<h1>Resources</h1>  

  <a href="{{resource}}">{{name}} </a>
  <br> 
  <img src="{{image}}">

<br>
<br> 
<p> You got this!!</p>
{% endblock %}  